# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
wheels/
*.egg-info/***
*.egg
MANIFEST
*.manifest
*.spec

# Virtual Environments
venv/
ENV/
env/
.venv

# IDEs
.claude/
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
htmlcov/
.tox/
.coverage.*
.cache

# Linting/Formatting
.ruff_cache/
.mypy_cache/

# Project specific
archive
data/uploads/
data/gitea/
data/elasticsearch/
data/postgres/
db/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.bak
*.backup

.env
.env.prod.example
.env.dev.example
env/.env*


# SQLite temporary files
*.db-shm
*.db-wal
